<div class="row">
  <div class="col-md-4 books">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Add a Book</h3>
      </div>
      <div class="panel-body">
        <p>
          {{view Ember.TextField valueBinding="newISBN"}}
        </p>
        <p>
          <button class="btn btn-success" {{action addBook newISBN}}>
            Add Book
          </button>
        </p>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <label>
          Min. Value
          {{view Ember.TextField valueBinding="minPrice"}}
        </label>
      </li>
    </ul>

    <div class="list-group">
    {{#each book in filtered}}
      {{#linkTo 'book' book.id class=list-group-item}}
        <span class="badge">{{money book.currentPrice}}</span>
        <h4 class="list-group-item-heading">{{truncate book.title length=42}}</h4>
        <p class="list-group-item-text">{{book.author}}</p>
      {{/linkTo}}
    {{else}}
      <div class="list-group-item loading">
        Loading&hellip;
      </div>
    {{/each}}
    </div>
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>