<article class="book panel panel-default">
  <header class="panel-heading">
    <h1>
      {{title}}
      {{#if author}}
      <small class="author">by {{author}}</small>
      {{/if}}
    </h1>
  </header>
  <div class="row panel-body">
    <div class="col-md-8">
      <p class="text-info">
        <strong>Current value:</strong>
        {{money currentPrice}}
      </p>

      {{view App.PriceChartView contentBinding=prices}}
    </div>
    <div class="col-md-4">
    {{#if amazon}}
      <a {{bindAttr href=amazon.url}} title="View on Amazon">
        <p>
          <img {{bindAttr src="amazon.image"}} alt="Cover" class="thumbnail" />
        </p>
        <p>
          View on Amazon
        </p>
      </a>
      <p><small class="text-muted">
        ISBN: {{isbn}}
      </small></p>
    {{/if}}
    </div>
  </div>

  <footer class="panel-footer clearfix">
    <button class="pull-right btn btn-danger"{{action 'deleteBook'}}>
      Remove Book
    </button>
  </div>
</article>