<article class="book panel panel-default">
  <header class="panel-heading">
    <h1>
      {{title}}
      {{#if author}}
      <small class="author">by {{author}}</small>
      {{/if}}
    </h1>
  </header>
  <div class="row panel-body">
    <div class="col-md-8 col-lg-8">
      {{#if amazon}}<p>
        <a {{bind-attr href=amazon.url}} title="View on Amazon" class="">
          <span class="glyphicon glyphicon-hand-right"></span>
          <strong>View on Amazon</strong>
        </a>
      </p>{{/if}}
      <p class="text-info">
        <strong>Current value:</strong>
        {{money currentPrice}}
        &mdash;
        <strong>ISBN</strong>: {{isbn}}
      </p>

      {{view App.PriceChartView contentBinding=prices}}

      <div class="text-help text-muted">
        <p><small>
          (Charts omit boring data points where nothing changes, but trade-in data is updated every few hours.)
        </small></p>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-6">
    {{#if amazon}}
      <p>
        <a {{bind-attr href=amazon.url}} title="View on Amazon" class="thumbnail">
          <img {{bind-attr src="amazon.image"}} alt="Cover" />
        </a>
      </p>
    {{/if}}
    </div>
  </div>

  <footer class="panel-footer clearfix">
    <button class="pull-right btn btn-danger" {{action 'deleteBook'}}>
      Remove Book
    </button>
  </footer>
</article>